* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #423939;
    color: #433f3f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background: url(/src/images/bkgrnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Has navbar and links in it*/
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Top bar */
.navbar {
    background: #4e6996;
    color: #ffffff;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/* Edits 'Contact Manager' in top left*/
.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

/* These make the links for Login and Register look better*/
.navbar a {
    color: #fff;
    /* Takes off underline from links */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navbar a:hover {
    color: lightblue;
}

/* Makes the top bar go in a row */
.navbar .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
}

/* Makes Login and Register go to top right corner */
.navbar ul {
    display: flex;
    list-style-type: none;
}

/* adds a margin between the two links in the top corner */
.navbar ul li {
    margin-left: 25px;
}

/* This is the main background of the website */
.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/**/
.welcome-text {
    margin-bottom: 30px;
    padding: 20px;
}

/* This is the box around the login screen */
form {
    background-color: rgb(207, 207, 207);
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    width: 600px; /* Width of the input box */
    text-align: center; 
}

/* These 2 are for the Email, Username, and Passowrd input boxes*/
.input-box input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}
.input-box {
    margin-bottom: 1rem;
}

/* These 2 are for the password requirements on create.html */
.input-box ul {
    list-style-type: disc;
    text-align: left;
    color: red;
    padding: 10px;
    font-size: 15px;
}
.input-box ul li {
    list-style-type: disc;
}

/* Login button's size and color */
.btn {
    padding: 0.9rem;
    background-color: #3bb420;
    color: white;
    border: none;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

/* Changes color of Login button when you hover over it*/
.btn:hover {
    background-color: #35963a;
}

/* Margin area for bottom text and login button*/
.create-account {
    margin-top: 1rem;
}

/* These two will edit the Create Account link's color and font*/
.create-account a {
    color: rgb(3, 150, 204);
    font-weight: bold;
    text-decoration: underline;
}
.create-account a:hover {
    color: #196bb9;
}