<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="main-body">
        <div>
                    
        </div>
        <h1 class="">Add Contact</h1>
        <form class="ui form" id="AddContact-form">
            <div class="field">
                <label>Name</label>
                <input 
                    type="text" 
                    placeholder="Name" 
                    required
                    id="Name-id"
                />
            </div>
            <div class="field">
                <label>Email</label>
                <input 
                    type="email" 
                    placeholder="Email" 
                    required
                    id="Email-id"
                />
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input 
                    type="tel" 
                    placeholder="Phone Number" 
                    required 
                    id="Phone-id"
                />
            </div>
            <div class="add-buttons">
                <button class="blue-button">Add</button>
            </div>
        </form>
    </div>
    <script src="./js/list.js"></script>
</body>
</html>