<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="main-body">
        <div>
                    
        </div>
        
        <form class="ui form" id="AddContact-form">
            <h1 class="form-title">Add Contact</h1>

            <div class="input-box">
                <!--<label>Name</label>-->
                <input 
                    type="text" 
                    placeholder="Name" 
                    required
                    id="Name-id"
                />
            </div>
            <div class="input-box">
               <!-- <label>Email</label>-->
                <input 
                    type="email" 
                    placeholder="Email" 
                    required
                    id="Email-id"
                />
            </div>
            <div class="input-box">
               <!-- <label>Phone Number</label>-->
                <input 
                    type="tel" 
                    placeholder="Phone Number" 
                    required 
                    id="Phone-id"
                />
            </div>
            <div class="add-buttons">
                <button class="adder">Add</button>
            </div>
            <div class="return"></div>
                <p><a href="Contact_List.html">Cancel</a></p>
            </div>
            
        </form>
    </div>
    <script src="./js/list.js"></script>
</body>
</html>