<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <p><a href="index.html">UCF Contact Manager</a></p>
            </div>
            <ul>
                <li>
                    <p><a href="index.html">Sign Out</a></p>
                </li>
            </ul>
        </div>
    </nav>
    <div class="search-bar-container">
        <div class="input-wrapper">
            <input class="search-bar-box" placeholder="Search for a Contact" id="SearchBar-id"/>
        </div>
        <div class="results-list" id="results-list">
            <!-- Search results will go here -->
        </div>
        <div class="contact-header">Contact List</div>
        <p></p>
        <div class="ui celled list" id="contact-list">

        </div>
        <a href="/components/Add_Contact.html">
            <button class="adder" aria-label="Add Contact button">Add Contact</button>
        </a>
    </div>
    <script src="./js/list.js"></script>
</body>
</html>