<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="main-body">
        
      
     
        <form class="input-box" id="EditContact-form">
            <h1 class="form-title">Edit Contact</h1>
            <div class="field">
               
                <input 
                    type="text" 
                    placeholder="Name" 
                    id="Name-id"
                />
            </div>
            <div class="field">
             
                <input 
                    type="email" 
                    placeholder="Email" 
                    id="Email-id"
                    />
            </div>
            <div class="field">
                
                <input 
                    type="tel" 
                    placeholder="Phone" 
                    id="Phone-id"
                    />
            </div>
            <div class="add-buttons">
            <button class="adder">Update</button>
            <p><a href="/components/Contact_List.html"> Back to List</a></p>
        </div>
        </form>
    </div>
    <script src="./js/list.js"></script>
</body>
</html>