<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="main-body">
        <h2>Edit Contact</h2>
        <form class="input-box" id="EditContact-form">
            <div class="field">
                <label>Name</label>
                <input 
                    type="text" 
                    name="name" 
                    placeholder="Name" 
                    id="Name-id"
                />
            </div>
            <div class="field">
                <label>Email</label>
                <input 
                    type="email" 
                    name="email" 
                    placeholder="Email" 
                    id="Email-id"
                    />
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input 
                    type="tel" 
                    name="phone"
                    placeholder="Phone" 
                    id="Phone-id"
                    />
            </div>
            <button type="submit" class="blue-button">Update</button>
            <p><a href="/components/Contact_List.html"> Back to List</a></p>
        </form>
    </div>
    <!-- Add location of js file in script as src="file.js" -->
    <script></script>
</body>
</html>