<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <a href="index.html">
          <h2>UCF Contact Manager</h2>
        </a>
      </div>
      <ul>
        <li><a href="index.html">Sign Out</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>