<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="main-body">
        <form id="register-form">
            <h1>Register an Account</h1>
            <div class="input-box">
                <div class="name-box">
                    <input 
                        type="text" 
                        placeholder="Enter First Name" 
                        required 
                        id="FirstName-id"
                    />
                    <input 
                        type="text" 
                        placeholder="Enter Last Name" 
                        required 
                        id="LastName-id"
                    />
                </div>
                <input 
                    type="text" 
                    placeholder="Enter a Username" 
                    required
                    id="Login-id"
                />
                <input 
                    type="password" 
                    placeholder="Enter a Password" 
                    required 
                    id="Password-id"
                />
            </div>
            <div>
                <p id="regerror" style="color: red;"></p>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="create-account">
                <p>Already Have an Account? <a href="index.html">Login</a></p>
            </div>
        </form>
    </div>
    <script src="./js/account.js"></script>
</body>
</html>